Package: _PACKAGE_
Version: 1._VERSION_
Section: flipkart/pricing
Priority: standard
Depends: oracle-java8-installer, curl
Recommends: fk-ops-vip-health-check-module
Architecture: all
Maintainer: Pricing Team <pricing-dev@flipkart.com>
Description: Pricing package _PACKAGE_

